In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [2]:
data = pd.read_csv(r"C:\Users\Karuna\Desktop\Musical_instruments_reviews.csv")

In [3]:
data.describe()

            Overall  Unnamed: 2
count  10261.000000         0.0
mean       4.488744         NaN
std        0.894642         NaN
min        1.000000         NaN
25%        4.000000         NaN
50%        5.000000         NaN
75%        5.000000         NaN
max        5.000000         NaN

In [4]:
data.head()

,Review_Text,Overall,Unnamed: 2,Summary
0,"Not much to write about here, but it does exac...",5,NaN,good
1,The product does exactly as it should and is q...,5,NaN,Jake
2,The primary job of this device is to block the...,5,NaN,It Does The Job Well
3,Nice windscreen protects my MXL mic and preven...,5,NaN,GOOD WINDSCREEN FOR THE MONEY
4,This pop filter is great. It looks and perform...,5,NaN,No more pops when I record my vocals.

In [5]:
import nltk
import numpy as np
import pandas as pd
import re
import itertools
from nltk.stem.wordnet import WordNetLemmatizer

lem = WordNetLemmatizer()

In [6]:
def clean(text):
    text=re.sub(r'[0-9]+', r'',text)
    text = re.sub(r'[^\w]', ' ', text)
    #word level tokenization
    txt = nltk.tokenize.word_tokenize(text)
    #Stop word Removal
    stop_words = set(stopwords.words('english'))
    txt=[word for word in txt if word not in stop_words]
    #Lemmatizer
    for j in range(len(txt)):
        txt[j] = lem.lemmatize(txt[j], "v")
    return " ".join(txt)

In [7]:
data['Review_Text'] = data['Review_Text'].map(lambda x: clean(str(x)))

In [8]:
data.head()

,Review_Text,Overall,Unnamed: 2,Summary
0,Not much write exactly suppose filter pop soun...,5,NaN,good
1,The product exactly quite affordable I realize...,5,NaN,Jake
2,The primary job device block breath would othe...,5,NaN,It Does The Job Well
3,Nice windscreen protect MXL mic prevent pop On...,5,NaN,GOOD WINDSCREEN FOR THE MONEY
4,This pop filter great It look perform like stu...,5,NaN,No more pops when I record my vocals.

## How many reviews?

In [9]:

plot=data.groupby('Overall')['Review_Text'].nunique()
print(plot)

Overall
1     217
2     250
3     772
4    2084
5    6927
Name: Review_Text, dtype: int64

In [10]:
from sklearn.metrics import accuracy_score

In [11]:

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data.Review_Text, data.Overall, test_size=0.25, random_state=0)

In [12]:
x_train = x_train.reset_index(drop=True)
x_test = x_test.reset_index(drop=True)

y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(min_df=3, max_df=0.9)

train_vectors = vectorizer.fit_transform(x_train)
test_vectors = vectorizer.transform(x_test)

In [14]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB(alpha=0.1)
model.fit(train_vectors, y_train)

predictions = model.predict(vectorizer.transform(x_test))
accuracy_score(y_test, predictions)

0.6703039750584567

In [15]:
text = ['Musical Instrument Review']
features = vectorizer.transform(text)
predictions = model.predict(features)
print(predictions)

[5]